.hljs-variable {
    color: #068600;
}

.hljs-keyword {
    color: #004aff;
}

.hljs-built_in {
    color: #004aff;
}

.hljs-string {
    color: #a02314;
}

.hljs-meta {
    color: #3ab3ff;
}

.hljs-title {
    color: #000000;
}

.hljs-params {
    color: #000000;
}

.hljs-number {
    color: #169010;
}

pre {
    background-color: rgba(202, 202, 202, 0.5) !important; 
}


